@tailwind base;
@tailwind components;
@tailwind utilities;

/* Firefox (uncomment to work in Firefox, although other properties will not work!)  */
/** {
  scrollbar-width: thin;
  scrollbar-color: #397524 #DFE9EB;
}*/

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
    width: 4px;
  }
  *::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: transparent;
  }
  
  *::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #a3c3bc70;
  }


.hiddenScroll::-webkit-scrollbar {
  width: 0px;
  height: 0px
}
